@import '../../scss/vars.scss';
@import '../../scss/functions.scss';

.logo {
  text-transform: uppercase;
  color: #101010;
  font-weight: 700;
  font-size: pxToRem(25);
  line-height: 1.3;
}

.header {
  padding: pxToRem(15) 0;
  display: flex;
  justify-content: space-between;
  &__links {
    display: flex;
    align-items: center;
  }
  &-link {
    position: relative;
    margin: pxToRem(5) 5px pxToRem(5) 40px;
    max-height: 22px;
    &__counter {
      position: absolute;
      top: -30%;
      right: -50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: pxToRem(15);
      background-color: $accent-color;
      border-radius: 50%;
      min-width: pxToRem(19);
      max-width: pxToRem(22);
      padding: pxToRem(2) pxToRem(5);
      line-height: 1;
      color: $light-color;
      font-weight: 500;
    }
  }
}
