$body-bg-color: #EAEAEA;
$accent-color: #FFA542;
$light-color: #FFFFFF;
$accent-light-color: #FFCE7F;
$secondary-color: #838383;

$h3-text: #020203;
$primary-text: #000000;
 
$block-box-shadow: 0px 0px 20px 0px #0000001A;
$block-border-radius: 30px;

$sm: 576px;
$md: 768px;
$lg: 992px;